<div class="page-header">
  <%= link_to new_match_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Match
  <% end %>
  <h1>This is the "Home Page" placeholder</h1>
</div>


</div>