<div class="page-header">
  <%= link_to players_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h3>New player</h3>
</div>

<%= render 'form' %>
