<div class="page-header">
  <%= link_to locations_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_location_path(@location), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h2><%= @location.address %></h2>
</div>






  <!-- Google Maps and Places API -->
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>



<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">

  var map;
  var service;
  var currentLocation;

  // Manage the results returned from additional tennis court search
  function handleSearchResults(results, status) {
      console.log(results);
      for(var i = 0; i < results.length; i++) {

        var marker = new google.maps.Marker({
            position: results[i].geometry.location,
            map: map,
            icon: "/tennisball_marker.png"
        });
      }
  }

  // Locates current tennis court.
  function performSearch() {
    var request = {
        bounds: map.getBounds(),
        name: "<%=@location.address%>",
        icon: "/tennisball_marker.png"
    }
  service.nearbySearch(request, handleSearchResults);

  }

  function initialize(location) {
    console.log(location);
    currentLocation = new google.maps.LatLng(location.coords.latitude, location.coords.longitude);
    var mapProp = {
                  center: currentLocation,
                  zoom: 12,
                  mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    map = new google.maps.Map(document.getElementById("map-canvas"), mapProp);

    var marker = new google.maps.Marker({
                                        position: currentLocation,
                                        map: map,
                                        title: 'You Are Here'
    });

    service = new google.maps.places.PlacesService(map);

    // Ensures the map bounds are initialized before the search is performed.
    google.maps.event.addListenerOnce(map, 'bounds_changed', performSearch);

    // redo search when the refresh button is clicked
    $('#refresh').click(performSearch);

    // traffic layer
    var trafficLayer = new google.maps.TrafficLayer();
    $('#toggle_traffic').click(function () {
        if (trafficLayer.getMap()) {
            trafficLayer.setMap(null);
        }
        else {
            trafficLayer.setMap(map);
        }
    });
  }

  $(document).ready(function() {
    navigator.geolocation.getCurrentPosition(initialize);
  });

</script>

<div id="map-canvas"></div>
<div id="map-buttons">
<button id="refresh">Refresh</button>
<button id="toggle_traffic">Traffic</button>
</div>
<!-- END Google Map - VERSION2 -->


<!-- Directions Creation
<h4>Driving Directions<h4>

<div>
<strong>Start: </strong>
<select id="start" onchange="calcRoute();">
  <option value="chicago, il">Chicago</option>
  <option value="st louis, mo">St Louis</option>
  <option value="joplin, mo">Joplin, MO</option>
  <option value="oklahoma city, ok">Oklahoma City</option>
  <option value="amarillo, tx">Amarillo</option>
  <option value="gallup, nm">Gallup, NM</option>
  <option value="flagstaff, az">Flagstaff, AZ</option>
  <option value="winona, az">Winona</option>
  <option value="kingman, az">Kingman</option>
  <option value="barstow, ca">Barstow</option>
  <option value="san bernardino, ca">San Bernardino</option>
  <option value="los angeles, ca">Los Angeles</option>
</select>
<strong>End: </strong>
<select id="end" onchange="calcRoute();">
  <option value="chicago, il">Chicago</option>
  <option value="st louis, mo">St Louis</option>
  <option value="joplin, mo">Joplin, MO</option>
  <option value="oklahoma city, ok">Oklahoma City</option>
  <option value="amarillo, tx">Amarillo</option>
  <option value="gallup, nm">Gallup, NM</option>
  <option value="flagstaff, az">Flagstaff, AZ</option>
  <option value="winona, az">Winona</option>
  <option value="kingman, az">Kingman</option>
  <option value="barstow, ca">Barstow</option>
  <option value="san bernardino, ca">San Bernardino</option>
  <option value="los angeles, ca">Los Angeles</option>
</select>
</div> -->

